/* Para Interface de Criação de Página */
.infoboxIcon {
    background-image: url(https://vignette.wikia.nocookie.net/pt.starwars/images/3/3b/ICP_icons.png);
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
div[data-tipo="personagem"] .infoboxIcon, .infoboxIcon.personagem {
    background-position: 0px 100px;
}
div[data-tipo="planeta"] .infoboxIcon, .infoboxIcon.planeta {
    background-position: -100px 100px;
}
div[data-tipo="droide"] .infoboxIcon, .infoboxIcon.droide {
    background-position: 0 0;
}
div[data-tipo="espaçonave"] .infoboxIcon, .infoboxIcon.nave {
    background-position: 200px 0px;
}
div[data-tipo="evento"] .infoboxIcon, .infoboxIcon.evento {
    background-position: 100px 0px;
}
div[data-tipo="tecnologia"] .infoboxIcon, .infoboxIcon.tecnologia {
    background-position: 100px 100px;
}
div[data-tipo="outro"] {
    font-size: 15px;
    padding: 15px;
}
.ICPbuttons div {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-left: 1px solid #CCC;
}
#linkButton {
    background-image: url("https://vignette.wikia.nocookie.net/pt.starwars/images/f/fd/Link.png/revision/latest?cb=20141207221804");
    background-repeat: no-repeat;
    background-position-y: 4px;
    background-position-x: -2px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#refButton {
    background-image: url('https://vignette.wikia.nocookie.net/pt.starwars/images/9/9f/Ref.png/revision/latest?cb=20141208011243');
    border-right: 1px solid #CCC;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.ICPbuttons div:hover {
    border-color: #969696;
}
#refButton:hover { border-right-color: #969696; }
.pi-data-value textarea { width: 100%; }
#NovaPaginaTipoDeArtigo>div:hover { background-color: lightgray; }
#CuratedContentToolModal p {
    font-size: 14px;
    margin: 10px 0;
}
#CuratedContentToolModal section { overflow-y: auto; }
#CuratedContentToolModal { max-height: 80%; }
.ICPdisclaimer { font-size: 12px; }